body{
    background-color: rgb(248, 239, 227);
}
nav{
    font-family: Roboto;
    font-weight:bold ;
    background: linear-gradient(to right,rgb(0, 155, 202),rgb(223, 145, 2),red );
}
nav a span{
    color: rgb(241, 231, 86);
    text-shadow: 1px 1px 2px black;
    margin: 0 1.2rem;
    padding: 0 3px;
}

.menu__item{
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 1.7rem;
}

div a.active span{
    font-size: 1.9rem;
    color: rgb(241, 231, 86);
    text-shadow: 1px 1px 1px white;
}
div.principal{
    background-color: black;
    text-align: center;
    color: white;    
}

div.principal p{
font-size: 1.5rem;
text-align: justify;
}
.contenedor{
    margin-top: 200px;
    border: rgb(180, 178, 178) solid 5px;
    border-radius: 5px;
}
.main_productos1{
    text-align: justify;
    font-family: roboto;
    
    color: gold;
    background-color: black;
    
}
.main_productos2{
    text-align: justify;
    font-family: roboto;
    
    color: black;
    background-color: gold;
    
}
.sombra_icono{
    box-shadow: 1px 1px 3px white;
}
.footer_titles{
    font-family: Roboto;
    color: gold;
    text-shadow: 1px 1px 2px white;
}
footer a{
    text-decoration: none;
    color: rgb(197, 227, 252);
}
footer a:visited{
    color: #b48346;
}

footer a:hover{
    color: #041bee;
}

footer a:active{
    color: #f5c646;
}
.p_frecuentes{  
    text-align: justify;
    font-size: 1rem;
}
div.p_frecuentes h3{
    color: #f6d884;
    text-decoration: underline;
    text-shadow: 1px 1px 2px black;
}
.met_desp_justi{
    text-align: justify;
}
.card_tamanio{
    width: 12rem;
    
}
.fondo_productos{
    background-color: bisque;
}