body{
    background-color: rgb(248, 239, 227);
}
nav{
    font-family: Roboto;
    font-weight:bold ;
    background: linear-gradient(to right,rgb(0, 155, 202),rgb(223, 145, 2));
}
nav a span{
    color: rgb(241, 231, 86);
    text-shadow: 1px 1px 2px black;
    margin: 0 1.2rem;
    padding: 0 3px;
}

.menu__item{
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 1.7rem;
}

div a.active span{
    font-size: 1.9rem;
    color: rgb(241, 231, 86);
    text-shadow: 1px 1px 1px white;
}
div.principal{
    background-color: black;
    text-align: center;
    color: white;    
}

div.principal p{
font-size: 1.5rem;
text-align: justify;
}
